body {
    text-align: center;
    margin: 0;
    }

.header1 {
    color: #FFF;
    font-family: Oswald;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    margin-top: 13px;
    }

#firstpage {
    width: 1200px;
    height: 800px;
    background-image: url("../file\ and\ assets/background1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }

.lorem1 {
    color: rgba(255, 255, 255, 0.70);   
    text-align: center;         
    font-family: Source Sans Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;  
    margin-top: 42px;
    }

.logo1 {
    width: 63px;
    height: 63px;
    top: 252px;
    left: 569px;    
    margin-top: 274px;
    }

main {
    background: #eee;
    width: 1200px;
    height: 700px;
    flex-shrink: 0;
    margin-bottom: -100px;
}   
.headerp2 {
    color: #464547;
    text-align: center;
    font-family: Oswald;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    margin-top: 87px;
        }
.subheaderp2 {
        color: #666;
        text-align: center;
        font-family: Source Sans Pro;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        margin-top: 40px;
        }

p   {
    color: #000;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-top: 48px;
    margin-left: 97px;
    margin-right: 120px;
    }

.rectangular-button {
    background-color: #55C2D8;
    color: #FFF;
    padding-left: 18px;
    padding-right: 17px;
    padding-top: 5px;   
    padding-bottom: 6px;
    border: none;  
    border-radius: 10px;
    margin-bottom: 98px;
    cursor: pointer;
                    }
.rectangular-button:hover {
    background-color: blue; 
                      }

.learn-more { 
    width: 1200px;
    height: 666px;
    background-image: url("../file\ and\ assets/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #8C4F2A;
    }

.video-header {
    color: #FFF;
    text-align: center;
    font-family: Oswald;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    margin-top: 84px;
            }
.playbutton {     
        width: 150px;
        height: 150px;
        background-image: url("../file\ and\ assets/play.svg");
        background-size: cover;
        border-radius: 50%;
        border: none;
        margin-top: 53px;
            }

.last-p {
        color: #FFF;
        text-align: center;
        font-family: Source Sans Pro;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        margin-top: 70px;
        }   
footer {
        width: 1200px;
        height: 170px;
        flex-shrink: 0;
        background-color: #464547;;
        text-align: left;
        }
.smallogo {
        width: 20px;
        height: 20px;
        margin-top: 19px;
        margin-left: 145px;
     }
h2    {
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    letter-spacing: 3.6px;
    text-transform: uppercase;
    margin-left: 181px;
    margin-top: -20px;
        }
div {
    color: rgba(255, 255, 255, 0.40);
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    margin-left: 140px;
    }
a {
    color: rgba(255, 255, 255, 0.40);
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    margin-left: 140px;
}